.header {
    min-width: 99%;
    min-height: 48px;
    background: #1e1919;
    &-nav {
        display: flex;
        justify-content: space-between;
        &__logo {
            display: flex;
            align-items: center;
        }
        &__box {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0061fe;
        }
        &__icon {
            width: 35px;
            height: 30px;
            color: #fff;
        }
        &__icon:hover {
            color: #111;
        }
        &__title {
            font-size: 1.5rem;
            margin-left: 1rem;
            color: #fff;
        }
        &__title:hover {
            color: #0061fe;
        }
        &__links {
            display: flex;
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            font-size: 1.1rem;
            color: #fff;
        }
        & .download,
        .user {
            width: 100%;
        }
        &__link:hover {
            background-color: #0061fe;
        }

        .dropdown {
            position: relative;
            display: inline-block;

            &-content {
                display: none;
                position: absolute;
                top: 47.8px;
                right: -0.5px;
                background-color: #f1f1f1;
                min-width: 240px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 99;
            }

            &-content a,
            span {
                color: black;
                padding: 1rem;
                text-decoration: none;
                display: block;
            }

            &-content a:hover,
            span:hover {
                background-color: #0061fe;
                color: #f1f1f1;
            }

            &:hover .dropdown-content {
                display: block;
            }

            &-btn {
                padding: 0.8rem;
                font-size: 1.1rem;
                color: #fff;
                cursor: pointer;
            }

            &:hover .dropdown-btn {
                background-color: #0061fe;
            }
        }
    }
}
