.settings {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    & > &-header {
        font-size: 1.2rem;
        border-bottom: 2px solid #ccc;
        margin-bottom: 0.8rem;
    }
    &-row {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    &-right {
        display: flex;
        column-gap: 0.8rem;
    }
}
