@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
}

.upload-file {
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.btns {
    display: flex;
    column-gap: 1.2rem;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.2rem;
    border: none;
    width: 8.5rem;
    height: 3rem;
    background: #0057e5;
    color: #f7f5f2;
    cursor: pointer;
}

.contents {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    display: grid;
    justify-content: center;
    column-gap: 2rem;
    grid-template-columns: auto auto auto auto auto auto;
}

.contents > img {
    padding: 0.5rem;
    width: 150px;
}

.register,
.login {
    display: flex;
    justify-content: center;

    .register-form,
    .login-form {
        margin-top: 3rem;
        width: 22.5rem;

        .form-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.9rem;

            & > h1 {
                font-size: 1.25rem;
                font-weight: 400;
                color: #111;
            }
            & > a {
                color: #111;
                text-decoration: underline;
            }
        }
        .form-body > p {
            font-size: 0.75rem;
            color: #716b61;
            margin-bottom: 0.5rem;
        }
        .form-body > input {
            width: 100%;
            height: 3rem;
            padding: 0 0.75rem 0 0.75rem;
            font-size: 1rem;
            margin-bottom: 1rem;
            border: 1px solid #c9c5be;
            outline: none;
        }
        .form-body > button {
            width: 100%;
            height: 3rem;
            border: none;
            font-weight: 500;
            color: #f7f5f2;
            background: #0061fe;
            font-size: 1.1rem;
            margin-top: 1.5rem;
            cursor: pointer;

            &:hover {
                background: #0057e5;
            }
        }
    }
}

@import "./layout/Header/header.scss";
@import "./pages/Home/home.scss";
@import "./pages/Mobile/mobile.scss";
@import "./pages/Desktop/desktop.scss";
@import "./pages/Settings/settings.scss";
